[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentry-sdk = "*"

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
coveralls = "*"
mypy = "*"
pyflakes = "==2.4.0"
pylama = {extras = ["all"], version = "*"}
pytest = "*"

[requires]
python_version = "3.9"
